* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
    padding: 20px 0 20px 40px;
}

main {
    display: grid;
    place-items: center;   
}

div, button {
    font-size: larger;
}

#container {
    width: 70%;
    aspect-ratio: 1;
    max-width: 500px;
    margin-top: 5%;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid red;
    gap: 2%;
    grid-template-areas: 
        "output output output output"
        "leftBracket rightBracket percent clear"
        "seven eight nine divide"
        "four five six multiply"
        "one two three minus"
        "zero point equals plus"
    ;
}

#output {
    grid-area: output;
    background-color: rgb(255, 255, 255);
    text-align: end;
}

#one {
    grid-area: one;
    background-color: blueviolet;
}

#two {
    grid-area: two;
    background-color: blueviolet;
}

#three {
    grid-area: three;
    background-color: blueviolet;
}

#four {
    grid-area: four;
    background-color: blueviolet;
}

#five {
    grid-area: five;
    background-color: blueviolet;
}

#six {
    grid-area: six;
    background-color: blueviolet;
}

#seven {
    grid-area: seven;
    background-color: blueviolet;
}

#eight {
    grid-area: eight;
    background-color: blueviolet;
}

#nine {
    grid-area: nine;
    background-color: blueviolet;
}

#zero {
    grid-area: zero;
    background-color: blueviolet;
}

#plus {
    grid-area: plus;
    background-color: blueviolet;
}

#minus {
    grid-area: minus;
    background-color: blueviolet;
}

#divide {
    grid-area: divide;
    background-color: blueviolet;
}

#multiply {
    grid-area: multiply;
    background-color: blueviolet;
}

#equals {
    grid-area: equals;
    background-color: blueviolet;
}

#point {
    grid-area: point;
    background-color: blueviolet;
}

#leftBracket {
    grid-area: leftBracket;
    background-color: blueviolet;
}

#rightBracket {
    grid-area: rightBracket;
    background-color: blueviolet;
}

#percent {
    grid-area: percent;
    background-color: blueviolet;
}

#clear {
    grid-area: clear;
    background-color: blueviolet;
}